.compose {
  padding: 10px;

  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: calc(100% - 20px);
  bottom: 10px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  border: none;
  font-size: 14px;
  border-radius: 24px;
  height: 40px;
  width: 80%;
  margin-top: 15px;
  padding-left: 30px;
  margin-right: 16px;
  background: #f2f2f2;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}
