.page-title {
  background: white;
  padding-top: 10px;
}

.card-header-title {
  background: #0072bc;
}

.MuiButton-root {
  background: #007bff;
  color: #007bff;
}

.filter-title {
  font-size: 22px;
  margin-left: 10px;
  font-weight: bold;
}

.search-icon {
  margin-top: 5px;
}

.filter-range {
  background: white;
  margin-top: 48px;
}

.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.noMargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-padding-right {
  margin-right: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.minus-icon {
  font-size: 29px;
}
.tutor-name {
  font-size: 20px;
  height: 40px;
}
